<!-- TEST -->
<h5>Matches:</h5>
<% @matches.each do |match| %>
  <%= match.name %>
<% end %>
<!-- TEST -->


<!-- Ranklist TEST -->

<% @predictions.each do |prediction| %>
  <% match = prediction.match %>
  <h4>Match names: 
    <%= match.host %>
    <%= match.guest %>
  </h4>

  <h4>scores:
    <%= match.host_score %>
    <%= match.guest_score %>
  </h4>

  <!-- # user-- -->
  <h4>predictions:
    <%= prediction.host_score %>
    <%= prediction.guest_score %>
  </h4>

  <% if match.host_score = prediction.host_score %>
  <% end %>

<% end %>

<!-- Ranklist TEST -->
<h4>Public rooms:</h4>
<ul>
  <% @public_rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_path(room) %>
    </li>    
  <% end %>
</ul>


<h4>My joined rooms:</h4>
<ul id='my_rooms'>
  <% @user_rooms.each do |user_room| %>
    <li>
      <%= link_to user_room.name, room_path(user_room) %>
    </li>    
  <% end %>
</ul>


<h4>Invited to rooms:</h4>
<ul>
  <% @invited_to_rooms.each do |invited_rooms| %>
    <li>
      <%= link_to invited_rooms.name, room_path(invited_rooms) %>

      <%= form_tag('/accept_invitation', {:class => 'accept_form'}) do %>
        <input name="room_id" type="hidden" value="<%= invited_rooms.id %>" />
        <%= submit_tag "Accept" %>
      <% end %>

      <%= form_tag('/decline_invitation', {:class => 'decline_form'}) do %>
        <input name="room_id" type="hidden" value="<%= invited_rooms.id %>" />
        <%= submit_tag "Decline", :id => "button_decline_room#{invited_rooms.id}_invitation" %>
      <% end %>
    </li>    
  <% end %>
</ul>

<script>
  $('form.accept_form').submit(function() {
    var _this = this;   
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        method: "POST", 
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        // dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json) {
        li = "<li><a href='/rooms/" + json['room_id'] + "'>" + json['room_name'] + "</a></li>";
        console.log(li);
        $('#my_rooms').append(li);
        $(_this).parent().remove();
    });
    return false; // prevents normal behaviour
  });
    $('form.decline_form').submit(function() {
    var _this = this;   
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        method: "POST", 
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        // dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json) {
        $(_this).parent().remove();
    });
    return false; // prevents normal behaviour
  });
</script>

