<!-- TEST -->

<!-- TEST -->


<!-- Ranklist TEST -->
<!-- 
<% @predictions.each do |prediction| %>
  <% match = prediction.match %>
  <h3>Match:
  <br> 
    <h2>
      <%= match.host %> - <%= match.guest %>
    </h2>
  </h3>

  <h3>Scores:
    <h4>Host score: 
      <%= match.host_score %>
    </h4>

    <h4>Guest score: 
      <%= match.guest_score %>
    </h4>
  </h3>

    # user
   <h3>Predictions:
    <h4>Host score prediction: 
      <%= prediction.host_score %>
    </h4>
    <h4>Guest score prediction: 
      <%= prediction.guest_score %>
    </h4>
  </h3>
<% end %> -->

<!-- Ranklist TEST -->


<div id="content">
<div class="section group">

<div class="col span_1_of_5" id="breh">
<div id="boxx">
    <div class="plan plan1">
<div class="header">
<h1>Public rooms </h1></div>

    <ul class="klas">
     

  <% @public_rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_path(room) %>
    </li>    
  <% end %>


    </ul>
  

</div>
</div>
</div>
<div class="col span_2_of_5" >
<div id="boxx">
    <div class="plan plan1">
<div class="header">
<h1> Upcoming matches </h1></div>

    <ul class="klas">
      


<% @matchesCL.each do |match| %>
 <li> <%= match.name %> </li>
<% end %>


    
    </ul>

</div>
</div>
</div>

<div class="col span_1_of_5" id="cska">
<div id="boxx">
    <div class="plan plan1">
<div class="header">
<h1>My joined rooms </h1></div>

    <ul class="klas">
     
<ul id='my_rooms'>
  <% @user_rooms.each do |user_room| %>
    <li>
      <%= link_to user_room.name, room_path(user_room) %>
    </li>    
  <% end %>
</ul>
    
</div>
</div>
</div>



<div class="col span_1_of_5" id="cska">
<div id="boxx">
    <div class="plan plan1">
<div class="header">
<h1>Invited to rooms </h1></div>

    <ul class="klas">
     
<ul id='my_rooms'>
  <% @invited_to_rooms.each do |invited_rooms| %>
    <li>
      <%= link_to invited_rooms.name, room_path(invited_rooms) %>

      <%= form_tag('/accept_invitation', {:class => 'accept_form'}) do %>
        <input name="room_id" type="hidden" value="<%= invited_rooms.id %>" />
        <%= submit_tag "Accept" %>
      <% end %>

      <%= form_tag('/decline_invitation', {:class => 'decline_form'}) do %>
        <input name="room_id" type="hidden" value="<%= invited_rooms.id %>" />
        <%= submit_tag "Decline", :id => "button_decline_room#{invited_rooms.id}_invitation" %>
      <% end %>
    </li>    
  <% end %>

</ul>
    
</div>
</div>
</div>

</div>
</div>

































<script>
  $('form.accept_form').submit(function() {
    var _this = this;   
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        method: "POST", 
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        // dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json) {
        li = "<li><a href='/rooms/" + json['room_id'] + "'>" + json['room_name'] + "</a></li>";
        console.log(li);
        $('#my_rooms').append(li);
        $(_this).parent().remove();
    });
    return false; // prevents normal behaviour
  });
    $('form.decline_form').submit(function() {
    var _this = this;   
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        method: "POST", 
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        // dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json) {
        $(_this).parent().remove();
    });
    return false; // prevents normal behaviour
  });
</script>

