<div id="fb-root"></div>
<%= form_tag("/createroom", method: "post") do %>
  <%= select_tag(:tournament_id, options_for_select(@tournaments.map { |t| [t.name, t.id]})) %>
  <%= label_tag(:name, "Room name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:uname, "Add friends:") %>
  <%= select_tag(:user_ids, options_for_select(@users.map {|u| [u.name, u.id]}), :multiple => true , :size => 2, :class => "chzn-select") %>
  <%= label_tag("Public:") %>
  <%= check_box_tag (:public_room)%>
  <%= submit_tag("Create Room !") %>
<% end %>
