<h1>
  <%= @room.name %>
  (<%= @room.tournament.name %>)
</h1>
<h4>Players:</h4>

<ul>
    <% @invited_users.each do |uroom| %>
      <li>
        <%= uroom.uid %>
      </li>    
    <% end %>
</ul>
  
<h2>RankList:</h2>
<ol type="1">
  <% @rankings.each do |rankings| %>
    <li>
      <!-- Must add the names of the users -->
      <%= rankings.points %>
    </li>
  <% end %>
</ol>
<br>
<br>
<br>

<%= submit_tag "Invite friends", :id=> "buttonInviteFriends" %>
<%= javascript_tag do %>
  var room_id = <%= @room.id %>;

  $(document).ready(function() {
  $('#buttonInviteFriends').click(function() {
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '1397561973795270' ,                   // App ID from the app dashboard
        channelUrl : '',                                   // Channel file for x-domain comms
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
      FB.ui({
        method: 'apprequests',
        message: 'My Great Request'
      }, function(response){
        console.log(response);
        alert(response.to);

        window.location.assign("/roominvites/" + room_id + "/" + response.to) ;

      });
    };

    
  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  });
});
<% end %>