<!DOCTYPE html>
<html>
<head>
  <title>Prognozi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= link_to 'Rooms', '/rooms' %>
    <%= link_to 'Create room', '/newroom' %>
    <%= link_to 'Predictions', '/predictions' %>
    <!--<%= link_to 'Admin_Panel', '/admin_panel' %> -->
  </div> 
<%= yield %>
<div id="footer">
<div class="section group">
<div class="col span_1_of_4">
</div>
<div class="col span_2_of_4">
<p>Stay tuned: <a href="#">Facebook</a></p>
<p>All rights reserved 2013.</p>
</div>
<div class="col span_1_of_4">
</div>
</div>
</div>
</body>
</html>
